<md-card>
    <records-navigation></records-navigation>
    <table class="records-table" cellspacing="0">
        <thead>
            <tr>
                <th (click)="onSort('ID')">ID</th>
                <th (click)="onSort('CompetitionName')">Competition</th>
                <th (click)="onSort('TeamName')">Team</th>
                <th (click)="onSort('UserNames')">Users</th>
                <th (click)="onSort('Score')">Score</th>
                <th (click)="onSort('ScoreFirstSubmittedDate')">Date</th>
                <th (click)="onSort('NumSubmissions')">Submissions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td>{{record.id}}</td>
                <td>{{record.competitionName}}</td>
                <td>{{record.teamName}}</td>
                <td>{{record.userNames}}</td>
                <td>{{record.score | number:'1.5-5'}}</td>
                <td>{{record.scoreFirstSubmittedDate | amDateFormat: 'LL'}}</td>
                <td>{{record.numSubmissions}}</td>
            </tr>

        </tbody>
    </table>

    <records-paginator [paginatorId]="paginatorId"></records-paginator>
</md-card>