<div>
    <records-navigation></records-navigation>
    <table class="records-table" cellspacing="0">
        <thead>
            <tr>
                <th [ngClass]="{active: pagination.orderby == 'ID'}" 
                    (click)="onSort('ID')"><md-icon>arrow_downward</md-icon>ID</th>
                <th [ngClass]="{active: pagination.orderby == 'CompetitionName'}" 
                    (click)="onSort('CompetitionName')"><md-icon>arrow_downward</md-icon>Competition</th>
                <th [ngClass]="{active: pagination.orderby == 'TeamName'}" 
                    (click)="onSort('TeamName')"><md-icon>arrow_downward</md-icon>Team</th>
                <th [ngClass]="{active: pagination.orderby == 'UserNames'}" 
                    (click)="onSort('UserNames')"><md-icon>arrow_downward</md-icon>Users</th>
                <th [ngClass]="{active: pagination.orderby == 'Score'}" 
                    (click)="onSort('Score')"><md-icon>arrow_downward</md-icon>Score</th>
                <th [ngClass]="{active: pagination.orderby == 'ScoreFirstSubmittedDate'}" 
                    (click)="onSort('ScoreFirstSubmittedDate')"><md-icon>arrow_downward</md-icon>Date</th>
                <th [ngClass]="{active: pagination.orderby == 'NumSubmissions'}" 
                    (click)="onSort('NumSubmissions')"><md-icon>arrow_downward</md-icon>Submissions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of records">
                <td>{{record.id}}</td>
                <td>{{record.competitionName}}</td>
                <td>{{record.teamName}}</td>
                <td>{{record.userNames}}</td>
                <td>{{record.score | number:'1.5-5'}}</td>
                <td>{{record.scoreFirstSubmittedDate | amDateFormat: 'LL'}}</td>
                <td>{{record.numSubmissions}}</td>
            </tr>

        </tbody>
    </table>

    <records-paginator [paginatorId]="paginatorId"></records-paginator>
</div>